* {
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0px;
    background-color: #000;
}
div {
    color: white;
}
/* Header */
@media(max-width:700px){
    .for-desktop{
       display:none;
     }
}
@media(min-width:700px){
    .for-mobile{
       display:none;
     }
}
.cont {
    background-color: #000000;
}
.header {
    display: flex;
    align-items: center;
    background-color: #111111;
    height: 55px;
    width: 100%;
}
.logo {
    height: 55px;
    width: 1em/5em;
    padding: 1em;
    float: left;
    display: flex;
    justify-content: center;
}
.btn-header {
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
}
.button {
    color: #fff;
    background-color: #111111;
    font-size: 18px;
    padding: 0.8em;
    text-decoration: none;
}
.button:hover {
    color: #ffffff;
    background-color: #ff5656;
    transition: 0.9s;
}
.hello {
    width: 1em/5em;
    float: right;
    padding: 1em;
}
.profile {
    width: 2.8rem;
    border-radius: 100%;
}
.access {
    width: 1em/5em;
    padding: 1em;
    float: right;
}
.soft-button {
    color: #fff;
    text-decoration: none;
}
.soft-button:hover {
    color: #ff5656;
    text-decoration: none;
}

/* Footer */

.footer {
    background-color: #111111;
    height: 32px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}
.float {
    margin-right: 8px;
}
.custom-link {
    color: #ff5656;
}
.custom-s{
    text-decoration: none;
}
@media(max-width:700px){
    .for-desktop-f{
       display:none;
     }
}
@media(min-width:700px){
    .for-mobile-f{
       display:none;
     }
}
